<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel articles detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">{mlang_message DETAILS_FOUND}: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">{mlang_message DISPLAYING_FIRST}: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$id_class}">{$label articles id}</th>
			<th class="{$lang_id_class}">{$label articles lang_id}</th>
			<th class="{$parent_class}">{$label articles parent}</th>
			<th class="{$view_class}">{$label articles view}</th>
			<th class="{$order_class}">{$label articles order}</th>
			<th class="{$title_class}">{$label articles title}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$id_class}">{$id_value}</td>
			<td class="{$lang_id_class}">{$lang_id_value}</td>
			<td class="{$parent_class}">{$parent_value}</td>
			<td class="{$view_class}">{$view_value}</td>
			<td class="{$order_class}">{$order_value}</td>
			<td class="{$title_class}">{$title_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>