	{BEGIN item1_menulink}
	<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



	</div>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<div id="item2" class="rnr-b-hmenu {$menustyle} Leaf {$item2_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item2_menulink_attrs}>{$item2_title}</a></div>



	</div>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<div id="item3" class="rnr-b-hmenu {$menustyle} Leaf {$item3_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item3_menulink_attrs}>{$item3_title}</a></div>



	</div>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<div id="item4" class="rnr-b-hmenu {$menustyle} Leaf {$item4_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item4_menulink_attrs}>{$item4_title}</a></div>



	</div>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<div id="item5" class="rnr-b-hmenu {$menustyle} Leaf {$item5_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item5_menulink_attrs}>{$item5_title}</a></div>



	</div>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<div id="item6" class="rnr-b-hmenu {$menustyle} Leaf {$item6_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item6_menulink_attrs}>{$item6_title}</a></div>



	</div>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<div id="item7" class="rnr-b-hmenu {$menustyle} Leaf {$item7_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item7_menulink_attrs}>{$item7_title}</a></div>



	</div>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<div id="item8" class="rnr-b-hmenu {$menustyle} Leaf {$item8_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item8_menulink_attrs}>{$item8_title}</a></div>



	</div>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<div id="item9" class="rnr-b-hmenu {$menustyle} Leaf {$item9_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item9_menulink_attrs}>{$item9_title}</a></div>



	</div>
	{END item9_menulink}
	{BEGIN item10_menulink}
	<div id="item10" class="rnr-b-hmenu {$menustyle} Leaf {$item10_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item10_menulink_attrs}>{$item10_title}</a></div>



	</div>
	{END item10_menulink}
	{BEGIN item11_menulink}
	<div id="item11" class="rnr-b-hmenu {$menustyle} Leaf {$item11_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item11_menulink_attrs}>{$item11_title}</a></div>



	</div>
	{END item11_menulink}
	{BEGIN item12_menulink}
	<div id="item12" class="rnr-b-hmenu {$menustyle} Leaf {$item12_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item12_menulink_attrs}>{$item12_title}</a></div>



	</div>
	{END item12_menulink}
	{BEGIN item13_menulink}
	<div id="item13" class="rnr-b-hmenu {$menustyle} Leaf {$item13_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item13_menulink_attrs}>{$item13_title}</a></div>



	</div>
	{END item13_menulink}
	{BEGIN item14_menulink}
	<div id="item14" class="rnr-b-hmenu {$menustyle} Leaf {$item14_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item14_menulink_attrs}>{$item14_title}</a></div>



	</div>
	{END item14_menulink}


