{BEGIN mainmenu_block}
{BEGIN treeLikeTypeMenu}
		<tr class="runner-b-vmenu runner-vmenu tree">
		<td class="runner-cl"></td>
		<td class="runner-cc">
			<div class="manage">
				<a href="#"><img alt="*" src="images/plus.gif">
					{mlang_message EXPAND_ALL}
				</a>
			</div>
		</td>
		<td class="runner-cr"></td>
	</tr>

	{BEGIN item1_menulink}
	<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item1_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item1_groupimage}
<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item1_menulink}
	{BEGIN item2_menulink}
	<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item2_current} current{END item2_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item2_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item2_groupimage}
<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item2_menulink}
	{BEGIN item3_menulink}
	<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item3_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item3_groupimage}
<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item3_menulink}
	{BEGIN item4_menulink}
	<tr id="item4" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item4_current} current{END item4_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item4_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item4_groupimage}
<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item4_menulink}
	{BEGIN item5_menulink}
	<tr id="item5" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item5_current} current{END item5_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item5_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item5_groupimage}
<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item5_menulink}
	{BEGIN item6_menulink}
	<tr id="item6" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item6_current} current{END item6_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item6_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item6_groupimage}
<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item6_menulink}
	{BEGIN item7_menulink}
	<tr id="item7" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item7_current} current{END item7_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item7_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item7_groupimage}
<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item7_menulink}
	{BEGIN item8_menulink}
	<tr id="item8" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item8_current} current{END item8_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item8_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item8_groupimage}
<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item8_menulink}
	{BEGIN item9_menulink}
	<tr id="item9" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item9_current} current{END item9_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item9_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item9_groupimage}
<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item9_menulink}
	{BEGIN item10_menulink}
	<tr id="item10" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item10_current} current{END item10_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item10_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item10_groupimage}
<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item10_menulink}
	{BEGIN item11_menulink}
	<tr id="item11" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item11_current} current{END item11_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item11_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item11_groupimage}
<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item11_menulink}
	{BEGIN item12_menulink}
	<tr id="item12" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item12_current} current{END item12_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item12_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item12_groupimage}
<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item12_menulink}
	{BEGIN item13_menulink}
	<tr id="item13" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item13_current} current{END item13_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item13_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item13_groupimage}
<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item13_menulink}
	{BEGIN item14_menulink}
	<tr id="item14" view="topitem" class="runner-b-vmenu runner-vmenu tree Leaf{BEGIN item14_current} current{END item14_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			{BEGIN item14_groupimage}
<span><img alt="*" src="images/plus.gif" class="groupImg"></span>
{END item14_groupimage}
<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>	
	{END item14_menulink}
	{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu simple Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END treeLikeTypeMenu}
	
{BEGIN simpleTypeMenu}
		{BEGIN item1_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item4_current} current{END item4_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item5_current} current{END item5_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item6_current} current{END item6_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item7_current} current{END item7_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item8_current} current{END item8_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item9_current} current{END item9_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item9_menulink}
	{BEGIN item10_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item10_current} current{END item10_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item10_menulink}
	{BEGIN item11_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item11_current} current{END item11_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item11_menulink}
	{BEGIN item12_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item12_current} current{END item12_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item12_menulink}
	{BEGIN item13_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item13_current} current{END item13_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item13_menulink}
	{BEGIN item14_menulink}
	<tr class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item14_current} current{END item14_current}">
		<td class="runner-cl"></td>	
		<td class="runner-cc">
			<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>



		</td>
		<td class="runner-cr"></td>
	</tr>
	{END item14_menulink}
	{BEGIN adminarea_link}
	<tr id="itemAAS" view="topitem" class="runner-b-vmenu runner-vmenu simple Separator">
	<td class="runner-cl"></td>	
	<td class="runner-cc">{$itemAAS_separator}</td>
	<td class="runner-cr"></td>
</tr>
<tr id="itemAA" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
	{END adminarea_link}

{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
{BEGIN item1_menulink}
<tr id="item1" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item1_current} current{END item1_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item1_menulink_attrs}>{$item1_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item1_menulink}
{BEGIN item2_menulink}
<tr id="item2" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item2_current} current{END item2_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item2_menulink_attrs}>{$item2_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item2_menulink}
{BEGIN item3_menulink}
<tr id="item3" view="topitem" class="runner-b-vmenu runner-vmenu simple Leaf{BEGIN item3_current} current{END item3_current}">
	<td class="runner-cl"></td>	
	<td class="runner-cc">
		<a {$item3_menulink_attrs}>{$item3_title}</a>
	</td>
	<td class="runner-cr"></td>
</tr>
{END item3_menulink}

{END adminAreaTypeMenu}
{END mainmenu_block}
