<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="lang_id">
	{$lang_id_editcontrol}
	</control>
	<control field="word_id">
	{$word_id_editcontrol}
	</control>
	<control field="translation">
	{$translation_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>