<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="username">
	{$username_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>