{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu simple {$menustyle}">
	{BEGIN item1_menulink}
	<li class="{$item1_current} menuLeaf">
		<div>
<div>
<a {$item1_menulink_attrs}>{$item1_title}</a>
</div>
</div>



	</li>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<li class="{$item2_current} menuLeaf">
		<div>
<div>
<a {$item2_menulink_attrs}>{$item2_title}</a>
</div>
</div>



	</li>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<li class="{$item3_current} menuLeaf">
		<div>
<div>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



	</li>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<li class="{$item4_current} menuLeaf">
		<div>
<div>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



	</li>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<li class="{$item5_current} menuLeaf">
		<div>
<div>
<a {$item5_menulink_attrs}>{$item5_title}</a>
</div>
</div>



	</li>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<li class="{$item6_current} menuLeaf">
		<div>
<div>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



	</li>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<li class="{$item7_current} menuLeaf">
		<div>
<div>
<a {$item7_menulink_attrs}>{$item7_title}</a>
</div>
</div>



	</li>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<li class="{$item8_current} menuLeaf">
		<div>
<div>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



	</li>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<li class="{$item9_current} menuLeaf">
		<div>
<div>
<a {$item9_menulink_attrs}>{$item9_title}</a>
</div>
</div>



	</li>
	{END item9_menulink}
	{BEGIN item10_menulink}
	<li class="{$item10_current} menuLeaf">
		<div>
<div>
<a {$item10_menulink_attrs}>{$item10_title}</a>
</div>
</div>



	</li>
	{END item10_menulink}
	{BEGIN item11_menulink}
	<li class="{$item11_current} menuLeaf">
		<div>
<div>
<a {$item11_menulink_attrs}>{$item11_title}</a>
</div>
</div>



	</li>
	{END item11_menulink}
	{BEGIN item12_menulink}
	<li class="{$item12_current} menuLeaf">
		<div>
<div>
<a {$item12_menulink_attrs}>{$item12_title}</a>
</div>
</div>



	</li>
	{END item12_menulink}
	{BEGIN item13_menulink}
	<li class="{$item13_current} menuLeaf">
		<div>
<div>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



	</li>
	{END item13_menulink}
	{BEGIN item14_menulink}
	<li class="{$item14_current} menuLeaf">
		<div>
<div>
<a {$item14_menulink_attrs}>{$item14_title}</a>
</div>
</div>



	</li>
	{END item14_menulink}
</ul>
{END mainmenu_block}


