{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu tree {$menustyle}" data-menuname="{$menuName}">
{BEGIN menu_collapse_expand_all}
	<li class="manage">
		<div>
			<a href="#"><img alt="*" src="images/plus.gif">
				<span class=expand>{mlang_message EXPAND_ALL}</span>
				<span class="hide" style="display:none;">{mlang_message COLLAPSE_ALL}</span>
			</a>
		</div>
	</li>
{END menu_collapse_expand_all}
	{BEGIN item1_menulink}
	<li id="item1" class="{$item1_groupclass} {$item1_current} menuLeaf" level=1>
			<div>
<a {$item1_menulink_attrs} class="{$item1_current}">{$item1_title}</a>
</div>

	</li>	
	{END item1_menulink}
	{BEGIN item2_menulink}
	<li id="item2" class="{$item2_groupclass} {$item2_current} menuLeaf" level=1>
			<div>
<a {$item2_menulink_attrs} class="{$item2_current}">{$item2_title}</a>
</div>

	</li>	
	{END item2_menulink}
	{BEGIN item3_menulink}
	<li id="item3" class="{$item3_groupclass} {$item3_current} menuLeaf" level=1>
			<div>
<a {$item3_menulink_attrs} class="{$item3_current}">{$item3_title}</a>
</div>

	</li>	
	{END item3_menulink}
	{BEGIN item4_menulink}
	<li id="item4" class="{$item4_groupclass} {$item4_current} menuLeaf" level=1>
			<div>
<a {$item4_menulink_attrs} class="{$item4_current}">{$item4_title}</a>
</div>

	</li>	
	{END item4_menulink}
	{BEGIN item5_menulink}
	<li id="item5" class="{$item5_groupclass} {$item5_current} menuLeaf" level=1>
			<div>
<a {$item5_menulink_attrs} class="{$item5_current}">{$item5_title}</a>
</div>

	</li>	
	{END item5_menulink}
	{BEGIN item6_menulink}
	<li id="item6" class="{$item6_groupclass} {$item6_current} menuLeaf" level=1>
			<div>
<a {$item6_menulink_attrs} class="{$item6_current}">{$item6_title}</a>
</div>

	</li>	
	{END item6_menulink}
	{BEGIN item7_menulink}
	<li id="item7" class="{$item7_groupclass} {$item7_current} menuLeaf" level=1>
			<div>
<a {$item7_menulink_attrs} class="{$item7_current}">{$item7_title}</a>
</div>

	</li>	
	{END item7_menulink}
	{BEGIN item8_menulink}
	<li id="item8" class="{$item8_groupclass} {$item8_current} menuLeaf" level=1>
			<div>
<a {$item8_menulink_attrs} class="{$item8_current}">{$item8_title}</a>
</div>

	</li>	
	{END item8_menulink}
	{BEGIN item9_menulink}
	<li id="item9" class="{$item9_groupclass} {$item9_current} menuLeaf" level=1>
			<div>
<a {$item9_menulink_attrs} class="{$item9_current}">{$item9_title}</a>
</div>

	</li>	
	{END item9_menulink}
	{BEGIN item10_menulink}
	<li id="item10" class="{$item10_groupclass} {$item10_current} menuLeaf" level=1>
			<div>
<a {$item10_menulink_attrs} class="{$item10_current}">{$item10_title}</a>
</div>

	</li>	
	{END item10_menulink}
	{BEGIN item11_menulink}
	<li id="item11" class="{$item11_groupclass} {$item11_current} menuLeaf" level=1>
			<div>
<a {$item11_menulink_attrs} class="{$item11_current}">{$item11_title}</a>
</div>

	</li>	
	{END item11_menulink}
	{BEGIN item12_menulink}
	<li id="item12" class="{$item12_groupclass} {$item12_current} menuLeaf" level=1>
			<div>
<a {$item12_menulink_attrs} class="{$item12_current}">{$item12_title}</a>
</div>

	</li>	
	{END item12_menulink}
	{BEGIN item13_menulink}
	<li id="item13" class="{$item13_groupclass} {$item13_current} menuLeaf" level=1>
			<div>
<a {$item13_menulink_attrs} class="{$item13_current}">{$item13_title}</a>
</div>

	</li>	
	{END item13_menulink}
	{BEGIN item14_menulink}
	<li id="item14" class="{$item14_groupclass} {$item14_current} menuLeaf" level=1>
			<div>
<a {$item14_menulink_attrs} class="{$item14_current}">{$item14_title}</a>
</div>

	</li>	
	{END item14_menulink}
</ul>
{END mainmenu_block}


