	{BEGIN item1_menulink}
	<option {$item1_optionattrs} {BEGIN item1_current}selected{END item1_current}>
		{$item1_nbsps}{$item1_title}
	</option>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<option {$item2_optionattrs} {BEGIN item2_current}selected{END item2_current}>
		{$item2_nbsps}{$item2_title}
	</option>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<option {$item3_optionattrs} {BEGIN item3_current}selected{END item3_current}>
		{$item3_nbsps}{$item3_title}
	</option>
	{END item3_menulink}
	{BEGIN item4_menulink}
	<option {$item4_optionattrs} {BEGIN item4_current}selected{END item4_current}>
		{$item4_nbsps}{$item4_title}
	</option>
	{END item4_menulink}
	{BEGIN item5_menulink}
	<option {$item5_optionattrs} {BEGIN item5_current}selected{END item5_current}>
		{$item5_nbsps}{$item5_title}
	</option>
	{END item5_menulink}
	{BEGIN item6_menulink}
	<option {$item6_optionattrs} {BEGIN item6_current}selected{END item6_current}>
		{$item6_nbsps}{$item6_title}
	</option>
	{END item6_menulink}
	{BEGIN item7_menulink}
	<option {$item7_optionattrs} {BEGIN item7_current}selected{END item7_current}>
		{$item7_nbsps}{$item7_title}
	</option>
	{END item7_menulink}
	{BEGIN item8_menulink}
	<option {$item8_optionattrs} {BEGIN item8_current}selected{END item8_current}>
		{$item8_nbsps}{$item8_title}
	</option>
	{END item8_menulink}
	{BEGIN item9_menulink}
	<option {$item9_optionattrs} {BEGIN item9_current}selected{END item9_current}>
		{$item9_nbsps}{$item9_title}
	</option>
	{END item9_menulink}
	{BEGIN item10_menulink}
	<option {$item10_optionattrs} {BEGIN item10_current}selected{END item10_current}>
		{$item10_nbsps}{$item10_title}
	</option>
	{END item10_menulink}
	{BEGIN item11_menulink}
	<option {$item11_optionattrs} {BEGIN item11_current}selected{END item11_current}>
		{$item11_nbsps}{$item11_title}
	</option>
	{END item11_menulink}
	{BEGIN item12_menulink}
	<option {$item12_optionattrs} {BEGIN item12_current}selected{END item12_current}>
		{$item12_nbsps}{$item12_title}
	</option>
	{END item12_menulink}
	{BEGIN item13_menulink}
	<option {$item13_optionattrs} {BEGIN item13_current}selected{END item13_current}>
		{$item13_nbsps}{$item13_title}
	</option>
	{END item13_menulink}
	{BEGIN item14_menulink}
	<option {$item14_optionattrs} {BEGIN item14_current}selected{END item14_current}>
		{$item14_nbsps}{$item14_title}
	</option>
	{END item14_menulink}
